@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: poppins,sans-serif;
    overflow: hidden;
}
a{
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
}
/* NAV */
.container{
    width: 1380px;
    height: 100px;
    display: flex;
    align-items: center;
    gap:400px;
    background-image: linear-gradient(145deg, #171d29,#252e3d,#665f7a);
    /* background-color:#171d29 ; */
    color: aliceblue;
}
.logo{
    display: flex;
    width:200px;
    justify-content: center;
}
.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}
h2 .title{
    display: flex;
    justify-content: center;
    text-align: center;   
}
.logo img{
    width:80px;
    height:75px; 
}

/* Content */
.content{
    display: flex;
}

/* Menu */
.menu{
    height: 800px;
    width:200px;
    text-align: center;
    padding-top: 20px;
    background-color: #202938;   
}
.menu li{
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    color:aliceblue
}
.menu li:hover{
    background-color:#665f7a ;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
}

/* MAIN CONTENT */
.main{
    display:block;
    margin: auto;
    left: 0;
    width:1200px;
    height:600px;
    text-align: center;
}
.main h3{
    padding: 10px;
}
.main p{
    padding: 10px;
}
.btn{
    margin: 10px;
    padding: 10px;
    border-radius:5px;
    display: inline;
    background-color: #202938;
    color: aliceblue;
    font-weight: 600;
}
.btn:hover{
    background-color: #665f7a;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn-submit{
    width:1050px;
    margin: 10px;
    padding: 10px;
    border-radius:5px;
    display: inline;
    background-color: #1e5e28;
    color: aliceblue;
    font-weight: 600;
}
.btn-submit:hover{
    background-color: #665f7a;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.main-behaviour {
    width : 1070px;
    height: 1000px;
    overflow: auto;
}
.main-behavior h2{
    margin:30px;
}

/*FILE UPLOAD*/
.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 1050px;
    height: 200px;
    max-width: 100%;
    left: 10px;
    padding: 25px;
    border: 1px dashed rgba(174, 9, 9, 0.758);
    border-radius: 3px;
    transition: 0.2s;
    &:active {
        background-color: rgba(255, 255, 255, 0.05);
    }
}
.fake-btn {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(238, 29, 29, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

/*ANOMALY RESULT*/
.video-result {
    display: flex;
    width : 1100px;
    padding-top: 20px;
    flex-direction: column;
    justify-content : center;
    align-items : center;
}
.picture-result {
    display: flex;
    width : 1100px;
    padding-top: 30px;
    flex-direction: column;
    justify-content : center;
    align-items : center;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.graph {
    vertical-align: middle;
}
