<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Behavior Detector
    </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class="container">
        <div class = "logo-container">
            <a href="{{url_for('index')}}" class="logo"><img src="static/img/logo.png" alt="Logo IPB"></a>
        </div>
        <div class="nav">
            <h2>Chicken Behavior Detector</h2>
        </div>        
    </div>
    <div class="content">
        <div class="menu">
            <ul>
                <li><a href="{{url_for('aggressive')}}">Agressive Behavior</a> </li>
                <li><a href="{{url_for('feed')}}">Feeding Behavior</a> </li>
                <li><a href="{{url_for('anomaly')}}">Anomaly Behavior</a> </li>
            </ul>
        </div>
        <div class="main-behaviour">
            <h2>Deteksi Perilaku Makan</h2>
            <form method="post" action="test.py" enctype="multipart/form-data">
                <div class="file-drop-area">
                    <span class="fake-btn">Upload Video</span>
                    <span class="file-msg">or drag and drop files here</span>
                    <input type = "file" class = "file-input">
                </div>
                <input type="submit" value="Submit" class="btn-submit">
            </form>
        </div>
    </div>
    
</body>
</html>